<a href="https://colab.research.google.com/github/TharinduDilshan/Data-Preprocessing/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np

In [0]:
import matplotlib.pyplot as plt

In [0]:
import pandas as pd

In [6]:
!git clone https://github.com/TharinduDilshan/Data-Preprocessing.git dataset

Cloning into 'dataset'...
remote: Enumerating objects: 12, done.
remote: Counting objects: 100% (12/12), done.
remote: Compressing objects: 100% (10/10), done.
remote: Total 12 (delta 2), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (12/12), done.

In [7]:
ls

dataset/  sample_data/

In [8]:
cd sample_data

/content/sample_data

In [9]:
ls

anscombe.json*                mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md*

In [15]:
cd ../

/content

In [0]:
dataset = pd.read_csv('./dataset/data.csv')

In [17]:
dataset

     Country   Age   Salary Purchased
0     France  44.0  72000.0        No
1        USA  27.0  48000.0       Yes
2  Sri Lanka  30.0  54000.0        No
3        USA  38.0  61000.0        No
4  Sri Lanka  40.0      NaN       Yes
5     France  35.0  58000.0       Yes
6        USA   NaN  52000.0        No
7     France  48.0  79000.0       Yes
8  Sri Lanka  50.0  83000.0        No
9     France  37.0  67000.0       Yes

In [0]:
x = dataset.iloc[:,:-1].values

In [21]:
x

array([['France', 44.0, 72000.0],
       ['USA', 27.0, 48000.0],
       ['Sri Lanka', 30.0, 54000.0],
       ['USA', 38.0, 61000.0],
       ['Sri Lanka', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['USA', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Sri Lanka', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [0]:
y = dataset.iloc[:,3].values

In [24]:
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

In [0]:
from sklearn.impute import SimpleImputer

In [0]:
imputer = SimpleImputer(missing_values=np.nan, strategy="mean")

In [0]:
imputer = imputer.fit(x[:, 1:3])

In [0]:
x[:, 1:3] = imputer.transform(x[:, 1:3])

In [31]:
x

array([['France', 44.0, 72000.0],
       ['USA', 27.0, 48000.0],
       ['Sri Lanka', 30.0, 54000.0],
       ['USA', 38.0, 61000.0],
       ['Sri Lanka', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['USA', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Sri Lanka', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [0]:

from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [0]:
labelencoder_x = LabelEncoder()

In [0]:
x[:, 0] = labelencoder_x.fit_transform(x[:, 0])

In [0]:
onehotencoder = OneHotEncoder(categorical_features = [0])

In [43]:
x = onehotencoder.fit_transform(x).toarray()

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [44]:
x

array([[1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 4.40000000e+01,
        7.20000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 2.70000000e+01,
        4.80000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 3.00000000e+01,
        5.40000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 3.80000000e+01,
        6.10000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 4.00000000e+01,
        6.37777778e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.50000000e+01,
        5.80000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 3.87777778e+01,
        5.20000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 4.80000000e+01,
        7.90000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 5.00000000e+01,
        8.30000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.70000000e+01,
        6.70000000e+04]])