<a href="https://colab.research.google.com/github/TharinduDilshan/Data-Preprocessing/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np

In [0]:
import matplotlib.pyplot as plt

In [0]:
import pandas as pd

In [6]:
!git clone https://github.com/TharinduDilshan/Data-Preprocessing.git dataset

Cloning into 'dataset'...
remote: Enumerating objects: 12, done.
remote: Counting objects: 100% (12/12), done.
remote: Compressing objects: 100% (10/10), done.
remote: Total 12 (delta 2), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (12/12), done.

In [7]:
ls

dataset/  sample_data/

In [8]:
cd sample_data

/content/sample_data

In [9]:
ls

anscombe.json*                mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md*

In [15]:
cd ../

/content

In [0]:
dataset = pd.read_csv('./dataset/data.csv')

In [17]:
dataset

     Country   Age   Salary Purchased
0     France  44.0  72000.0        No
1        USA  27.0  48000.0       Yes
2  Sri Lanka  30.0  54000.0        No
3        USA  38.0  61000.0        No
4  Sri Lanka  40.0      NaN       Yes
5     France  35.0  58000.0       Yes
6        USA   NaN  52000.0        No
7     France  48.0  79000.0       Yes
8  Sri Lanka  50.0  83000.0        No
9     France  37.0  67000.0       Yes

In [0]:
x = dataset.iloc[:,:-1].values

In [21]:
x

array([['France', 44.0, 72000.0],
       ['USA', 27.0, 48000.0],
       ['Sri Lanka', 30.0, 54000.0],
       ['USA', 38.0, 61000.0],
       ['Sri Lanka', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['USA', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Sri Lanka', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [0]:
y = dataset.iloc[:,3].values

In [24]:
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)